@page "/categories"
@using FinanceTracker.Web.States.Categories
@using FinanceTracker.Web.Components.Categories
@using FinanceTracker.Web.Services.Categories
@using FinanceTracker.Web.States.Categories.DTOs
@inject CategoryState CategoryState
@inject CategoryService CategoryService
@inherits StateAwareComponent

<Sidebar />

<div class="main-content">
    <TopHeader />

    <div class="page-header">
        <h1 class="page-title">Categorías</h1>
        <button class="btn-primary" @onclick="OpenAddModal">
            <span class="material-icons">add</span> Nueva Categoría
        </button>
    </div>

    <div class="categories-grid">
        @foreach (var category in CategoryState.Categories)
        {
            <CategoryCard CurrentCategory="@category" 
                         OnEdit="@(() => OpenEditModal(category))" 
                         OnDelete="@(() => DeleteCategory(category.Id))" />
        }
    </div>

@*     <CategoryModal IsVisible="@showModal"
                   IsEditing="@isEditing"
                   Category="@currentCategory"
                   OnClose="@CloseModal"
                   OnSave="@SaveCategory" /> *@
</div>

@code {
    /// <summary>
    /// Indica si debe mostar el modal
    /// </summary>
    private bool showModal = false;

    protected override async Task OnInitializedAsync()
    {
        Subscribe(CategoryState);
        await CategoryService.LoadAllCategories();
        await base.OnInitializedAsync();
    }

    private void OpenAddModal()
    {
    }

    private void OpenEditModal(CategoryModel category)
    {
    }

    private void CloseModal()
    {
        showModal = false;
    }

    private async Task SaveCategory(CategoryModel category)
    {
        CloseModal();
    }

    private void DeleteCategory(Guid id)
    {
        // Por ahora, solo eliminar del estado (implementar DeleteCategoryCommand después)
        CategoryService.DeleteCategory(id);
    }
}

